* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.contact {
  min-height: 100vh;
  background: #f0f0f0;
  padding: 50px;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  color: var(--pink);
  margin-bottom: 40px;
}

i {
color: deeppink;
}

.contact .wrapper {
  display: grid;
  grid-template-columns: repeat(2. 1fr);
  grid-gap: 30px;
}

.contact-form {
  text-align: left;
}

.contact-form h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

nav a {
  color: black;
}

button {
  display: inline-block;
  font-weight: bolder;
  margin-top: 1rem;
  border-radius: 5rem;
  background: deeppink;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 7rem;
  color: deeppink;
  padding: 2rem;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #333;


  .contact-info {
    text-align: left;
  }

  .contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  p {
    margin-bottom: 1px;
    color: #555;

  .contact-info i {
    color: var(--pink)
  }
    
  .my-location {
    margin-top: 20px;
    font-size: 10px;
  }