
.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem
}

.review .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  padding: 3rem 2rem;
  position: relative;
  border: 1rem solid rgba(0, 0, 0, .1);
}

.review .box-container .box .fa-quote-right {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: #eee;
}

.review .box-container-box .star i {
  color: var(--pink);
  font-size: 2rem;
  }

.review .box-container .box p {
  color: #999;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 2rem;
}


.review .box-container .box .user {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.review .box-container .box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.review .box-container .box .user h3 {
  font-size: 2rem;
  color: #333;
}

.review .box-container .box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.review .box-container .box .user h3 {
  font-size: 2rem;
  color: #333;
  }

.review .box-container .box .user span {
  font-size: 1.5rem;
  color: #999;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: var(--pink);
  text-decoration: underline;
}

.footer .box-container .box img {
  margin-top: 1rem;
  }

.footer .credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: 1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
  color: var(--pink);
}

